<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Shows</title>
    </head>
    <body>
        <h2>IMDB: Top 5 Episodes</h2>
        <table width="100%", border="solid">
          <tr>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
          </tr>
          <tr th:object="${movie1}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
            <tr th:object="${movie2}">
                <td th:text="*{title}"></td>
                <td th:text="*{episode}"></td>
                <td th:text="*{rating}"></td>
            </tr>
            <tr th:object="${movie3}">
                <td th:text="*{title}"></td>
                <td th:text="*{episode}"></td>
                <td th:text="*{rating}"></td>
            </tr>
            <tr th:object="${movie4}">
                <td th:text="*{title}"></td>
                <td th:text="*{episode}"></td>
                <td th:text="*{rating}"></td>
            </tr>
            <tr th:object="${movie5}">
                <td th:text="*{title}"></td>
                <td th:text="*{episode}"></td>
                <td th:text="*{rating}"></td>
            </tr>
        </table>        
    </body>
</html>